[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=OpenETC
Comment=Fast and feature-rich multi-network Ethereum client.
Exec=OpenETC
Icon=/usr/share/pixmaps/icon.png
Terminal=true
